<div class="container-fluid">
<h1>My Articles#index</h1>
<%= search_form_for @q do |f| %>

    <%= f.label :title_cont %>
    <%= f.search_field :title_cont %>
  
  
    <%= f.submit %>
  <% end %>
  <br>
  <br>

<table class = "table">
    <thead>
    <tr scope = "row">
        <th scope="col"><font size="5"> Title</font></th>
        <th> Date Posted</th>
    </tr>
    </thead>
    <dl>
<% @articles.each do |article| %>

   
   <tr>
    <td><%=link_to article.title, article_path(article)%></td>
    <td><%=article.created_at.strftime("posted on %m/%d/%Y at %I:%M%p")%></td>
    
   </tr>
<%end%>
</table>


    <%=link_to "Create New Article", new_article_path%>
   <%= link_to "All Articles", articles_path%>

   </div>
