
<div class="container-fluid">
<%= form_with scope: :article,url: articles_path, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
   
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text, cols:"50", rows:"10" %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>

<p><%=link_to "Back", articles_my_articles_path(@articles)%></p>

