<!DOCTYPE html>
<html>
  <head>
    <title>BloggersApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Bloggers App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if current_writer %>
       <li class="nav-item">
           <a class="nav-link" href="#"> <%= current_writer.email %></a>
      </li>
      <li class="nav-item">
          <%= link_to 'Log Out', sessions_path, method: :delete, class:"nav-link"%>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to 'Writers Registration', writers_registration_path, class:"nav-link #{active_class(writers_registration_path)}"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Users Registration', user_registration_path,class:"nav-link #{active_class(user_registration_path)}"%>
      </li>
       <li class="nav-item">
        <%= link_to 'Log In', new_sessions_path, class:"nav-link #{active_class(new_sessions_path)}" %>
      </li>
      <%end%>
    </ul>
  </div>
</nav>

    <%= yield %>
  </body>
</html>
